# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
**/xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
DerivedData/
.build/

# Firebase
GoogleService-Info.plist
.firebase/

# OMC
.omc/

# macOS
.DS_Store
